<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="w-[80%] mx-auto">
        <div class="m-10 text-4xl text-center bold">Welcome, <%= user.username %></div>
        <div class="m-10 text-center bold">
        </div> 
        <div class="text-4xl bold text-center">Pending Booking List %></div>
        <div class="m-3">
            <a href="/dashboard/current-transaction" class="text-white bg-green-700 p-2 rounded-lg hover:bg-green-900">GO TO CURRENT BOOKING LIST</a></div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 ">
                    <thead class="text-xs text-white uppercase bg-blue-500">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                No
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name of Field
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name of Customer
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Booked Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Duration
                            </th>
                            <th scope="col" class="px-6 py-3">
                                invoice
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Description
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                         <% data.forEach((el, index) => { %>
                            
                        <tr class="bg-white border-b ">
                            <td class="px-6 py-4">
                                <%= ++index %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.Field.name %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.Field.User.username %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.formattedBookedDate %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.duration %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.invoice %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.description %> 
                            </td>
                            <td class="px-6 py-4">
                               <a href="/dashboard/<%= el.id %>/approve" class="px-5 py-2 m-2 bg-green-600 rounded-md text-white hover:bg-green-900">Accept</a>
                               <a href="/dashboard/<%= el.id %>/reject" class="px-5 py-2 m-2 bg-red-600 rounded-md text-white hover:bg-red-900">Reject</a>
                            </td>
                        </tr>

                         <% }) %> 
                </table>
        </div>
    </div>
</body>
</html>