<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title><%= data.name %> </title>
</head>
<body>
    <div class="w-[80%] mx-auto">
    <%- include('partials/_navbar') %> 
        <p class="m-5 text-center text-3xl"><%= data.name %></p>

       <div class="mx-auto flex justify-center m-10">
        <img class="h-auto max-w-full" src="<%= data.imageUrl%>" alt="image description">
       </div>
       <div class="mx-auto justify-center m-10 text-center">
            <div class="m-5">
                <div class="text-2xl m-2">
                    <p><%= data.City.name %> </p>
                </div>
                <p>only :</p>
                <p class="text-3xl"><%=data.price%>/hour </p>
                <p class="m-3 text-center font-normal text-gray-700"><b><%= data.transactionTotal %> </b>users have played on this course</p>
            </div>
            <div class="w-[50%] mx-auto p-5 m-3 bg-slate-100 rounded-md shadow-lg">
                <form action="/transaction/<%=data.id%>/add" method="post">
                    <div class="text-3xl font-bold m-5 text-blue-700">
                        BOOK NOW!
                    </div>
                    <div class="mb-6">
                        <label for="UserId" class="block mb-2 text-sm font-medium text-gray-900">User ID (nanti diganti pake session)</label>
                        <input type="text" name="UserId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    </div>
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="mb-6">
                            <label for="date" class="block mb-2 text-sm font-medium text-gray-900">Date and Time</label>
                            <input type="datetime-local" name="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                        <div class="mb-6">
                            <label for="duration" class="block mb-2 text-sm font-medium text-gray-900">Duration (hours)</label>
                            <input type="number" name="duration" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                    </div>
                    
                    <div class="mb-6">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                        <input type="text" name="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    </div>
                    
                    
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">BOOK NOW</button>

                </form>
            </div>
       </div>

        
</body>
</html>