<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>GoSport</title>
</head>
<body>
    <div class="w-[80%] mx-auto">
        <%- include('partials/_navbar') %> 
        <div class="m-10 text-center bold">
        </div> 
         <div class="m-5 text-3xl text-center bold"><%= session.username %>'s Field Assets</div>
        <div class="m-3 flex">
            <div class="flex">
            <a href="/dashboard/addField" class="mx-2 px-5 text-white shadow-md bg-slate-800 p-2 rounded-lg hover:bg-slate-900">Add New Field</a></div>
            <a href="/dashboard" class="text-white mx-2 bg-green-700 p-2 rounded-lg hover:bg-green-900">Back to Dashboard</a></div>
            <div class="relative overflow-x-auto shadow-3xl sm:rounded-lg  ">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-white uppercase bg-blue-500">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                id
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Image
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name of Field
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Category
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Location
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Price
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Transaction Total
                            </th>
                            <th scope="col" class="px-6 py-3">
                                action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                         <% fields.forEach((el, index) => { %>
                            
                        <tr class="bg-white border-b ">
                            <td class="px-6 py-4">
                                <%= el.id %> 
                            </td>
                            <td class="px-6 py-4">
                                <img src="<%= el.imageUrl%>" width="200px">
                            </td>
                            <td class="px-6 py-4">
                                <%= el.name %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.Category.name %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.City.name %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.price %> 
                            </td>
                            <td class="px-6 py-4">
                                <%= el.transactionTotal %> 
                            </td>
                            <td class="px-6 py-4">
                                <a href="/dashboard/fields/<%=el.id%>/edit" class="px-5 py-2 m-2 bg-yellow-400 text-black hover:bg-yellow-500 rounded-md shadow-lg">Edit</a> 
                                <a href="/dashboard/fields/<%=el.id%>/delete" class="px-5 py-2 m-2 bg-red-600 text-white hover:bg-red-800 rounded-md shadow-lg">Delete</a> 
                            </td>
                        </tr>
                         <% }) %> 
                </table>
        </div>
    </div>
</body>
</html>